<%= r_page_wrapper do %>
  <%= r_page_header do %>
    <%= r_breadcrumbs do %>
      <%= r_mobile_breadcrumbs_nav artists_url %>
      <%= r_breadcrumbs_nav do %>
        <%= r_home_breadcrumbs_link root_url %>
        <%= r_breadcrumbs_separator %>
        <%= r_breadcrumbs_link artists_url do %>
          Artists
        <% end %>
        <%= r_breadcrumbs_separator %>
        <%= r_breadcrumbs_link @artist do %>
          <%= @artist %>
        <% end %>
      <% end %>
    <% end %>
    <%= r_page_header_body do %>
      <%= r_page_header_title @artist %>
      <% if @artist.policy.edit? %>
        <%= r_page_header_actions do %>
          <%= r_page_header_action "Edit", edit_artist_path(@artist) %>
          <%= r_primary_page_header_action "Reload", artist_reload_path(@artist), method: :post %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div class="md:flex md:items-start">
    <aside class="flex flex-col flex-shrink-0">
      <%= image_tag artist_detail_image(@artist), class: "block mx-auto mb-2 flex-shrink-0 h-64 sm:w-64", alt: @artist.name %>
      <% if @artist.lastfm_url? -%>
        <%= wide_red_button "Read more on Last.fm", @artist.lastfm_url, "fa fa-lastfm", rel: :external, target: :_blank %>
      <% end %>
    </aside>
    <section class="flex-grow md:ml-4 text-left">
      <%= @artist.description %>

      <h2 class="text-3xl leading-tight">Albums</h2>

      <% @albums.each do |album| %>
        <article class="flex items-center p-2 hover:bg-blue-200 rounded-lg">
          <%= link_to album_path(album) do %>
            <%= album.small_album_image class: "block mx-0 flex-shrink-0 h-16 w-16 sm:h-24 sm:w-24 rounded-lg" %>
          <% end %>
          <div class="mt-0 ml-4 text-left">
            <h2 class="text-xl leading-tight">
              <%= link_to album_path(album) do %>
                <%= album.title %> <% if album.year.present? %>(<%= album.year %>)<% end %>
              <% end -%>
            </h2>
            <p class="text-m leading-tight text-gray-600">
              <%= album.genre %>
            </p>
            <div class="block mt-1">
              <%= album.small_played_button %>
              <%= album.small_purchased_button %>
            </div>
          </div>
        </article>
      <% end %>
    </section>
  </div>
<% end %>
