<section class="min-w-full grid grid-cols-1 md:grid-cols-2 overflow-hidden">
<% albums.each do |album| %>
  <article class="flex items-center px-3 py-2 hover:bg-blue-200">
    <%= link_to album_path(album) do %>
      <%= album.small_album_image class: "block mx-0 flex-shrink-0 h-24 w-24" %>
    <% end %>
    <div class="mt-0 ml-3 text-left">
      <h2 class="text-xl leading-tight">
        <%= link_to album_path(album) do %>
          <%= album.title %> <% if album.year.present? %>(<%= album.year %>)<% end %>
        <% end -%>
      </h2>
      <p class="text-m leading-tight text-gray-600">
        <%= link_to album.artist_name, artist_path(album.artist) %>
        <% if album.genre? -%>
        &ndash; <%= album.genre %>
        <% end -%>
      </p>
      <div class="block mt-1">
        <%= album.small_played_button %>
        <%= album.small_purchased_button %>
      </div>
    </div>
  </article>
<% end %>
</section>
