<div class="md:flex md:items-start px-3 py-2 md:px-6 mdpy-4">
  <%= image_tag album_detail_image(@album), class: "block mx-4 md:mx-0 flex-shrink-0 h-64 sm:w-64", alt: @album.title %>
  <div class="mt-0 ml-4 text-left">
    <p class="text-4xl leading-tight"><%= @album.title %> <% if @album.year.present? %>(<%= @album.year %>)<% end %></p>
    <p class="text-xl leading-tight text-gray-600"><%= @album.artist.try(:name) %></p>
    <% if @album.description? %>
    <div class="my-4">
      <%= simple_format(@album.description) %>
    </div>
    <% end %>
  </div>
</div>

<div class="px-3 py-2 md:px-6 mdpy-4">
  <% if policy(@album).edit? -%>
  <%= link_to 'Edit', edit_album_path(@album) %> |
  <% end -%>
  <% if policy(@album).refresh? -%>
  <%= link_to 'Refresh', album_refresh_path(@album) %> |
  <% end -%>
  <%= link_to 'Back', albums_path %>
</div>
