<%= r_page_wrapper do %>
  <%= r_page_header_wrapper do %>
    <%= r_breadcrumbs do %>
      <%= r_mobile_breadcrumbs_nav @album.artist %>
      <%= r_breadcrumbs_nav do %>
        <%= r_home_breadcrumbs_link root_url %>
        <%= r_breadcrumbs_separator %>
        <%= r_breadcrumbs_link @album.artist do %>
          <%= @album.artist_name %>
        <% end %>
        <%= r_breadcrumbs_separator %>
        <%= r_breadcrumbs_link @artist do %>
          <%= @album.title %>
        <% end %>
      <% end %>
    <% end %>
    <%= r_page_header_body do %>
      <%= r_page_header_title @album.title, @album.artist_name do %>
        <%= r_page_header_categories do %>
          <%= r_page_header_category_link @album.artist_name, @album.artist, "fas fa-user" %>
          <%= r_page_header_category_tag @album.genre, "fas fa-tag" if @album.genre? %>
          <%= r_page_header_category_link @album.year, albums_year_path(@album.year), "far fa-calendar" if @album.year? %>
        <% end %>
      <% end %>

      <% if @album.policy.edit? %>
        <%= r_page_header_actions do %>
          <%= r_page_header_action "Edit", edit_album_path(@album) %>
          <%= r_primary_page_header_action "Reload", album_reload_path(@album), method: :post %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div class="md:flex md:items-start">
    <aside class="block md:mx-0 flex flex-col flex-shrink-0">
      <%= image_tag album_detail_image(@album), class: "block mx-auto flex-shrink-0 h-64 sm:w-64", alt: @album.title %>
      <% if @album.lastfm_url? -%>
        <%= link_to @album.lastfm_url, class: "block mt-2 flex-shrink-0 md:w-64 bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline", rel: :external, target: :_blank do %>
          <span class="fa fa-lastfm mr-1"></span>
          Read more on Last.fm
        <% end -%>
      <% end -%>
    </aside>
    <section class="mt-2 md:mt-0 md:ml-4 text-left">
      <div class="mb-2">
        <%= @album.played_button %>
        <%= @album.purchased_button %>
      </div>
      <%= @album.description %>
    </section>
  </div>
<% end %>
